<div class="container">
    <div class="row">
        <div class="d-flex justify-content-end">
            <h2 class="gallery-title">Nombre del proyecto actual</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="list-group">
                <span href="#" class="list-group-item list-group-item-action  active" style="background-color: #E68D90; border: #E68D90;" data-filter="all">
                        All proyects
                        </span>
                <a href="#" class="list-group-item list-group-item-action" data-filter="category1">
                        Portraits
                        </a>
                <a href="#" class="list-group-item list-group-item-action" data-filter="category2">
                        Nature
                        </a>
                <a href="#" class="list-group-item list-group-item-action" data-filter="category3">
                        Animals
                        </a>
                <a href="#" class="list-group-item list-group-item-action" data-filter="category4">
                        Buildings
                        </a>
            </div>
        </div>
        <div class="col-8" style="margin-bottom:3%">

            <div align="center">
                <button class="filter-button" data-filter="all">Todos</button>
                <button class="filter-button" data-filter="category1">Horizontal</button>
                <button class="filter-button" data-filter="category2">Vertical</button>
                <button class="filter-button" data-filter="category3">JPG</button>
                <!--<input type="search" name="" placeholder="Search for..." class="search__field" style="width:40%; ">
                <button type="submit" class="fa fa-search search__icon" style="border: 0px solid #82A8A8;
                background-color: white;"><img   src="../../assets/imagenes/proyectos/buscar.png" alt="" style="align-items: center;"></button>-->
                <form class="col-sm-6">
                    <input class="form-control" type="search" placeholder="Search">
                </form>
            </div>


            <div class="gallery_product col-sm-4 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=122">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=122" />
                    <div class='img-info'>
                        <h4>Image Title 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=526">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=526" />
                    <div class='img-info'>
                        <h4>Image Title 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=626">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=626" />
                    <div class='img-info'>
                        <h4>Image Title 3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=626">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=626" />
                    <div class='img-info'>
                        <h4>Image Title 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=486">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=486" />
                    <div class='img-info'>
                        <h4>Image Title 5</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=846">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=846" />
                    <div class='img-info'>
                        <h4>Image Title 6</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1066">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1066" />
                    <div class='img-info'>
                        <h4>Image Title 7</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=506">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=506" />
                    <div class='img-info'>
                        <h4>Image Title 8</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1026">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1026" />
                    <div class='img-info'>
                        <h4>Image Title 9</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=1077">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=1077" />
                    <div class='img-info'>
                        <h4>Image Title 10</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category2">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=102">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=102" />
                    <div class='img-info'>
                        <h4>Image Title 11</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>

            <div class="gallery_product col-sm-4 col-xs-6 filter category3">
                <a class="fancybox" rel="ligthbox" href="https://picsum.photos/400/250?image=106">
                    <img class="img-responsive" alt="" src="https://picsum.photos/400/250?image=106" />
                    <div class='img-info'>
                        <h4>Image Title 12</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </a>
            </div>
        </div>
    </div><br>
</div>


<app-footer>
</app-footer>