nav {
    background-color: #82A8A8;
}

nav.navbar a {
    font-family: "Sans-serif";
    color: #ffff;
    font-size: 19px;
    padding-bottom: 5px;
    margin: 6px;
}

img {
    margin: 1px;
}

ul {
    padding-right: 4%;
}