<section id="inicio">
    <div clas="row">
        <div class="d-flex flex-column">
            <img src="../../assets/imagenes/iniciosesion/foto2.jpg" alt="" height="750px">
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Proyectos</h2>
            <h4 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h4>
        </div>
        <div class="row" style="margin-bottom: 6%;">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../../assets/imagenes/inicio/proyectos/01-thumbnail.jpg" alt="..." width="100%" />
                    </a>
                    <div class=" portfolio-caption ">
                        <div class="portfolio-caption-heading ">Threads</div>
                        <div class="portfolio-caption-subheading text-muted ">Illustration</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 ">
                <div class="portfolio-item ">
                    <a class="portfolio-link " data-toggle="modal " href="#portfolioModal2 ">
                        <div class="portfolio-hover ">
                            <div class="portfolio-hover-content "><i class="fas fa-plus fa-3x "></i></div>
                        </div>
                        <img class="img-fluid " src="../../assets/imagenes/inicio/proyectos/02-thumbnail.jpg " alt="... " width="100%" />
                    </a>
                    <div class="portfolio-caption ">
                        <div class="portfolio-caption-heading ">Explore</div>
                        <div class="portfolio-caption-subheading text-muted ">Graphic Design</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 ">
                <div class="portfolio-item ">
                    <a class="portfolio-link " data-toggle="modal " href="#portfolioModal3 ">
                        <div class="portfolio-hover ">
                            <div class="portfolio-hover-content "><i class="fas fa-plus fa-3x "></i></div>
                        </div>
                        <img class="img-fluid " src="../../assets/imagenes/inicio/proyectos/03-thumbnail.jpg " alt="... " width="100%" />
                    </a>
                    <div class="portfolio-caption ">
                        <div class="portfolio-caption-heading ">Finish</div>
                        <div class="portfolio-caption-subheading text-muted ">Identity</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0 ">
                <div class="portfolio-item ">
                    <a class="portfolio-link " data-toggle="modal " href="#portfolioModal4 ">
                        <div class="portfolio-hover ">
                            <div class="portfolio-hover-content "><i class="fas fa-plus fa-3x "></i></div>
                        </div>
                        <img class="img-fluid " src="../../assets/imagenes/inicio/proyectos/04-thumbnail.jpg " alt="... " width="100%" />
                    </a>
                    <div class="portfolio-caption ">
                        <div class="portfolio-caption-heading ">Lines</div>
                        <div class="portfolio-caption-subheading text-muted ">Branding</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0 ">
                <div class="portfolio-item ">
                    <a class="portfolio-link " data-toggle="modal " href="#portfolioModal5 ">
                        <div class="portfolio-hover ">
                            <div class="portfolio-hover-content "><i class="fas fa-plus fa-3x "></i></div>
                        </div>
                        <img class="img-fluid " src="../../assets/imagenes/inicio/proyectos/05-thumbnail.jpg " alt="... " width="100%" />
                    </a>
                    <div class="portfolio-caption ">
                        <div class="portfolio-caption-heading ">Southwest</div>
                        <div class="portfolio-caption-subheading text-muted ">Website Design</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ">
                <div class="portfolio-item ">
                    <a class="portfolio-link " data-toggle="modal " href="#portfolioModal6 ">
                        <div class="portfolio-hover ">
                            <div class="portfolio-hover-content "><i class="fas fa-plus fa-3x "></i></div>
                        </div>
                        <img class="img-fluid " src="../../assets/imagenes/inicio/proyectos/06-thumbnail.jpg " alt="... " width="100%" />
                    </a>
                    <div class="portfolio-caption ">
                        <div class="portfolio-caption-heading ">Window</div>
                        <div class="portfolio-caption-subheading text-muted ">Photography</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 showcase-img" style="background-image: url('../../assets/imagenes/inicio/proyectos/05-thumbnail.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="padding-left: 10%; padding-right:10%;">
                <h3>Equipos inovadores</h3><br>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
    </div>
</section>
<app-footer>

</app-footer>