#inicio {
    padding: 0 0 0 0;
    font-family: sans-serif;
    background-color: #E68D90;
    height: 80%;
}

section {
    display: block;
}

h2 {
    color: #82A8A8;
    font-size: 60px;
    font-family: sans-serif;
    padding-top: 10%;
    padding-bottom: 1%;
}

h3 {
    color: #FFFFFF;
    font-size: 40px;
    font-family: sans-serif;
}

h4 {
    padding-bottom: 3%;
    font-family: sans-serif;
}

#portfolio .portfolio-item {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e68d9085;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 1.25rem;
    color: #FFFFFF;
}

#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: #FFFFFF;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 0;
}

#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
    font-style: italic;
    font-family: sans-serif;
}

.portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
}

.portfolio-modal .modal-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

.portfolio-modal .modal-content h2 {
    font-size: 3rem;
    line-height: 3rem;
}

.portfolio-modal .modal-content p.item-intro {
    font-style: italic;
    margin-bottom: 2rem;
    font-family: sans-serif;
}

.portfolio-modal .modal-content p {
    margin-bottom: 2rem;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 2rem;
}

.portfolio-modal .modal-content img {
    margin-bottom: 2rem;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.showcase {
    background-color: #82A8A8;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.showcase .showcase-text {
    padding-right: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-left: 4%;
}

.showcase .showcase-img {
    min-height: 40rem;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

input {
    font-size: medium;
}