<div class="container">
    <div class="row">
        <section>
            <h1><strong>Lista de empleados</strong> </h1>
            <div align="right"><button type="button " data-bs-toggle="modal" data-bs-target="#exampleModal "><img src="../../assets/imagenes/empleados/agregar2.gif " alt=" " width="40px " height="40px " style="margin-bottom: 10px; "></button>
                <button type="button " data-bs-toggle="modal" data-bs-target="#exampleModal "><img src="../../assets/imagenes/empleados/agregar3.gif " alt=" " width="40px " height="40px " style="margin-bottom: 10px; "></button>
            </div>

            <div class="tbl-header ">
                <table cellpadding="0 " cellspacing="0 ">
                    <thead>
                        <tr>
                            <th scope="col ">Nombre</th>
                            <th scope="col ">Apellidos</th>
                            <th scope="col ">Puesto</th>
                            <th scope="col ">Usuario</th>
                            <th scope="col ">Ingreso</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content table-hover ">
                <table cellpadding="0 " cellspacing="0 ">
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Otto Ríos</td>
                            <td>Diseñador</td>
                            <td>Mark</td>
                            <td>20/05/2020</td>
                        </tr>
                        <tr>
                            <td>Jacob</td>
                            <td>Marin Thornton</td>
                            <td>Audio Visual</td>
                            <td>Jack</td>
                            <td>20/05/2021</td>
                        </tr>
                        <tr>
                            <td>Larry</td>
                            <td>Ríos Ríos</td>
                            <td>TIC´s</td>
                            <td>Larry</td>
                            <td>17/01/2021</td>
                        </tr>
                        <tr>
                            <td>Mauricio</td>
                            <td>Ríos Cruz</td>
                            <td>TIC´s</td>
                            <td>Larry</td>
                            <td>21/12/2020</td>
                        </tr>
                        <tr>
                            <td>Omar</td>
                            <td>Fuentes Ríos</td>
                            <td>Desarrollador</td>
                            <td>Omar</td>
                            <td>06/03/2021</td>
                        </tr>
                        <tr>
                            <td>Fernanda</td>
                            <td>Cruz Escobar</td>
                            <td>Fotografía</td>
                            <td>Fer</td>
                            <td>10/11/2020</td>
                        </tr>
                        <tr>
                            <td>Emilia</td>
                            <td>Flores Sandoval</td>
                            <td>Animaciones</td>
                            <td>Emm</td>
                            <td>25/01/2019</td>
                        </tr>
                        <tr>
                            <td>Cecilia</td>
                            <td>Preciado Carrillo</td>
                            <td>Diseñador</td>
                            <td>Ceci</td>
                            <td>04/08/2019</td>
                        </tr>
                    </tbody>
                </table>
            </div><br><br>
        </section>
    </div>
</div>

<!-- Modal -->

<div class="modal fade bd-example-modal-lg " tabindex="-1 " id="exampleModal" aria-labelledby="exampleModalLabel " aria-hidden="true "> <br><br><br><br><br>
    <div class=" modal-dialog modal-lg ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h2 class="modal-title" id="exampleModalLabel">Registro de empleados</h2>
                <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                    <span aria-hidden="true ">&times;</span>
                  </button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid ">
                    <form>
                        <div class="row ">
                            <div class="col-md-6 ">
                                <label for='nombre'>Nombre</label>
                                <input type="text" id='nombre' name='nombre' data-error-message="El nombre es requerido " class='form-control'>
                            </div>
                            <div class="col-md-6 ">
                                <label for='apellidos'>Apellidos</label>
                                <input type="text" id='apellidos' name='apellidos' data-error-message="Los apellidos son requeridos " class='form-control'>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-6 ">
                                <label for='fechaNac'>Fecha de nacimiento</label>
                                <input type="date" id='fechaNac' name='fechaNac' data-required="true " data-error-message="La fecha es requerida " class='form-control'>
                            </div>
                            <div class="col-md-6 ">
                                <label for='puesto'>Puesto</label>
                                <select id='puesto' class="form-control selectpicker show-tick " size="1 " name='puesto'>
                                    <option value="Director de marketing">Director de marketing</option>
                                    <option value="Project Manager">Project Manager</option>
                                    <option value="Analista financiero">Analista financiero</option>
                                    <option value="Director de Arte">Director de Arte</option>
                                    <option value="Diseñador Jr">Diseñador Jr</option>
                                    <option value="Motion Grapher">Motion Grapher</option>
                                    <option value="Productor AudioVisual">Productor AudioVisual</option>
                                    <option value="Community Senior">Community Senior</option>
                                    <option value="Community Jr">Community Jr</option>
                                    <option value="Desarrollador Web">Desarrollador Web</option>
                                    <option value="Director Creativo">Director Creativo</option>
                                    <option value="Lead Generator">Lead Generator</option>
                                    <option value="Referidos Villa Group">Referidos Villa Group</option>
                                    <option value="Referidos Tafer">Referidos Tafer</option>
                                    <option value="Agente Real Estate">Agente Real Estate</option>
                                </select>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-6 ">
                                <label for='usuario'>Usuario</label>
                                <input type="text" id='usuario' data-required="true " name='usuario' data-error-message="El número de personas es requerido " class='form-control'>
                            </div>
                            <div class="col-md-6 ">
                                <label for='contraseña'>Contraseña</label>
                                <input type="password" id='contraseña' data-required="true " name='contraseña' data-error-message="El correo es requerido " class='form-control'>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-12 "><label for='fechaIng'>Fecha de ingreso</label>
                                <input type="date" id='fechaIng' name='fechaIng' data-required="true " data-error-message="La fecha es requerida " class='form-control'></div>
                        </div><br>
                    </form>
                </div>


                <div class="modal-footer">
                    <div class="input-group">
                        <button class="button button1 " type="button ">Guardar</button>
                        <button class="button button1 " type="button ">Buscar</button>
                        <button class="button button1 " type="button " data-bs-dismiss="modal " aria-label="Close ">Modificar</button>
                        <button class="button button1 " type="button " data-bs-dismiss="modal " aria-label="Close ">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>